html {
  box-sizing: border-box;
}

*,
*::before,
* ::after {
  box-sizing: inherit;
}

body {
  color: #4d4949;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  line-height: 1.66;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

.main-container,
.hero-container {
  width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .main-container,
.hero-container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .main-container,
.hero-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-container,
.hero-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .main-container,
.hero-container {
    padding-left: 25px;
    padding-right: 25px;
    width: 1200px;
  }
}

header {
  position: absolute;
}

@media screen and (min-width: 320px) {
  .navbar {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .navbar {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    width: 738px;
  }
}

.nav-link-space-logo {
  padding: 30px 0px;
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  color: #4d4949;
  margin-right: 0px;
}
@media screen and (min-width: 992px) {
  .nav-link-space-logo {
    margin-right: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link-space-logo {
    margin-right: 622px;
  }
}

#navbarTogglerDemo01 .nav-link-space {
  background-color: #ffffff;
  color: #4d4949;
  padding: 20px 0px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #navbarTogglerDemo01 .nav-link-space {
    padding: 30px 0px;
    background-color: transparent;
  }
}

.nav-item:not(:last-child) {
  font-size: 15px;
  line-height: 1.66;
}
@media screen and (min-width: 992px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

.hero {
  padding-top: 153px;
  padding-bottom: 206px;
  background-image: url("../../images/bg.jpg");
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 22px;
  width: 416px;
  font-size: 28px;
  line-height: 1.3;
}
@media screen and (min-width: 320px) {
  .hero-title {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 416px;
  }
}

.hero-description {
  margin-bottom: 22px;
}
@media screen and (min-width: 320px) {
  .hero-description {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .hero-description {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    width: 660px;
  }
}

.hero-button-explore {
  color: #ffffff;
  padding: 10px 26px;
  background-color: #4d4949;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-right: 25px;
}

.hero-button-learn {
  color: #4d4949;
  padding: 10px 26px;
  border-radius: 5px;
  border: 1px solid #4d4949;
}

.about {
  text-align: center;
}

.cards {
  margin-right: 40px;
}

.square {
  height: 184px;
  width: 260px;
  border-radius: 5px;
}

.rectangle {
  position: relative;
  height: 32px;
  width: 228px;
  background-color: #ffb0b0;
  border-radius: 5px 5px 0px 0px;
}

.rectangle-2 {
  height: 152px;
  width: 260px;
  background-color: #ffb0b0;
  border-radius: 0px 5px 5px 5px;
}

.flex {
  display: flex;
}

.inner-square {
  height: 32px;
  width: 32px;
  border-radius: 5px 5px 0px 0px;
}

.inner-square-2 {
  height: 32px;
  width: 32px;
  background-color: #8a1515;
  border-radius: 0px 0px 0px 5px;
}

.mirrorY {
  transform: scale(-1, 1);
}

.square:not(:last-child) {
  margin-bottom: 10px;
}

.cards-video {
  display: flex;
  background-color: #8a1515;
}

.pink {
  background-color: #ffb0b0;
}

.blue {
  background-color: #b0d1ff;
}

.green {
  background-color: #bdffb0;
}