@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
* ::after {
  box-sizing: inherit;
}

body {
  color: #4d4949;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  line-height: 1.66;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

.header {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.62;
  margin-bottom: 25px;
  text-align: center;
}

.underline-of-headers-container {
  position: relative;
}

.underline {
  position: absolute;
  height: 8px;
  border-bottom: 1px solid #4d4949;
  border-right: 1px solid #4d4949;
  border-left: 1px solid #4d4949;
}

.about-underline-of-headers {
  width: 94px;
}

.posts-underline-of-headers {
  width: 124px;
}

.portfolio-underline-of-headers {
  width: 159px;
}

.testimonials-underline-of-headers {
  width: 131px;
}

.contacts-underline-of-headers {
  width: 110px;
}

.underline-of-headers {
  top: 40px;
  left: 50%;
  transform: translate(-50%);
}

.underline::after,
.underline::before {
  content: "";
  display: block;
  width: 3px;
  position: absolute;
  border-top: 1px solid #4d4949;
}

.underline::before {
  left: -3px;
}

.underline::after {
  right: -3px;
}

.subtitle {
  margin: 0px auto;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.52;
}
@media screen and (min-width: 480px) {
  .subtitle {
    width: 440px;
  }
}

.main-container,
.hero-container {
  width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .main-container,
.hero-container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .main-container,
.hero-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-container,
.hero-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .main-container,
.hero-container {
    padding-left: 20px;
    padding-right: 20px;
    width: 1200px;
  }
}

header {
  position: absolute;
}

.navbar {
  padding: 0px;
}
@media screen and (min-width: 320px) {
  .navbar {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .navbar {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    width: 738px;
  }
}

.nav-link-space-logo {
  padding: 26px 0px;
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  color: #4d4949;
  margin-right: 0px;
}
@media screen and (min-width: 992px) {
  .nav-link-space-logo {
    margin-right: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link-space-logo {
    margin-right: 622px;
  }
}

#navbarTogglerDemo01 .nav-link-space {
  background-color: #4d4c49;
  color: #4d4949;
  padding: 20px 0px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #navbarTogglerDemo01 .nav-link-space {
    padding: 26px 0px;
    background-color: transparent;
  }
}

.nav-item:not(:last-child) {
  font-size: 15px;
  line-height: 1.66;
}
@media screen and (min-width: 992px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

.hero {
  padding-top: 153px;
  padding-bottom: 206px;
  background-image: url("../../images/bg.jpg");
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 22px;
  width: 416px;
}
@media screen and (min-width: 320px) {
  .hero-title {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 416px;
  }
}

.hero-description {
  font-size: 17px;
  line-height: 1.53;
  margin-bottom: 22px;
}
@media screen and (min-width: 320px) {
  .hero-description {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .hero-description {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    width: 660px;
  }
}

.hero-button-explore {
  color: #ffffff;
  background-color: #4d4c49;
  border: 1px solid #ffffff;
  margin-right: 20px;
}

.hero-button-learn {
  color: #4d4949;
  border: 1px solid #4d4949;
  background-color: transparent;
}

.hero-button-explore:hover {
  background-color: #393737;
}

.hero-button-learn:hover {
  color: #ffffff;
  background-color: #393737;
}

.hero-button-explore:disabled {
  background-color: #4d4c49;
}

.hero-button-learn:disabled {
  color: rgba(77, 73, 73, 0.4);
  background-color: #ffffff;
  border: 1px solid #4d4949;
}

.about {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 34px;
}

.cards {
  padding: 0px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .cards {
    margin-right: 40px;
    margin-bottom: 0px;
  }
}

.cards-video {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .cards-video {
    display: flex;
  }
}

.video {
  position: relative;
}

video {
  width: 300px;
}
@media screen and (min-width: 768px) {
  video {
    width: 468px;
  }
}
@media screen and (min-width: 1200px) {
  video {
    width: 860px;
    height: 592px;
  }
}

.cards-square {
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  position: relative;
  height: 184px;
  width: 260px;
}
.cards-square p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.64;
}

.cards-square:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cards-square:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-square:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

.cards {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cards {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    display: block;
  }
}

.cards-name {
  transform: scaleX(-1);
}

.cards-square-first {
  border: none;
  transform: scaleX(-1);
  background: linear-gradient(-108.56deg, rgba(230, 246, 65, 0.5) 0%, rgba(41, 252, 154, 0.5) 100%);
  background-color: #ffb0b0;
}

.cards-square-second {
  border: none;
  background: linear-gradient(-236.77deg, rgba(247, 247, 247, 0.5) 0%, rgba(35, 86, 255, 0.5) 100%);
  background-color: #b0d1ff;
}

.cards-square-third {
  border: none;
  transform: scaleX(-1);
  background: linear-gradient(-236.42deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 9, 9, 0.5) 100%);
  background-color: #ffb0b0;
}

.cards-puzzle {
  content: "";
  top: -1px;
  left: -1px;
  position: absolute;
  width: 33px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 0px;
  border: none;
  outline: none;
}

.cards-puzzle::before {
  content: "";
  border-top: 3px solid #ffffff;
  border-right: 3px solid transparent;
  position: absolute;
  top: 1px;
  right: -3px;
}

.cards-puzzle::after {
  content: "";
  border-top: 3px solid #ffffff;
  border-right: 3px solid transparent;
  position: absolute;
  top: 36px;
  right: 29px;
}

.cards-svg {
  width: 65px;
  height: 65px;
  margin-bottom: 18px;
}

.cards-svg-position {
  transform: scaleX(-1);
}

.video-svg {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-puzzle-test {
  width: 180px;
  height: 180px;
  background-color: #ffb0b0;
  border-radius: 40px 10px;
}

.posts {
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-item:before {
  content: "·";
  /* Сам маркер */
  padding-right: 10px;
  /* Расстояние от маркера до текста */
}

.post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}

.post-list-item {
  width: 213px;
}

.post-svg {
  width: 14px;
  height: 13px;
}

.card-body {
  padding: 0px;
}

.card-img-top {
  margin-bottom: 20px;
}

.posts .col {
  padding-right: 20px;
  padding-left: 20px;
}

.posts .row {
  margin-right: -20px;
  margin-left: -20px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.card-text {
  line-height: 1.6;
  margin-bottom: 19px;
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;
}

.portfolio-image {
  border-radius: 5px;
}

.portfolio-description {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .portfolio-description {
    top: 100px;
    left: 50%;
    transform: translate(-50%);
  }
}

.overlay {
  position: absolute;
  bottom: 3px;
  right: 20px;
  opacity: 0;
  border-radius: 5px;
  padding: 21px 21px;
  border-bottom-left-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-search,
.overlay-attach {
  width: 17px;
  height: 17px;
}

.portfolio-container-card {
  margin-bottom: 16px;
}

.portfolio-image {
  margin-bottom: 0px;
}

.portfolio-container:hover {
  cursor: pointer;
}
.portfolio-container:hover .overlay {
  opacity: 1;
}

.overlay-list {
  display: flex;
}

.overlay-item + .overlay-item {
  margin-left: 25px;
}

.portfolio .col {
  padding-right: 20px;
  padding-left: 20px;
}

.portfolio .row {
  margin-right: -20px;
  margin-left: -20px;
}

.card-title-portfolio {
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio .card-title {
  margin-bottom: 0px;
}

.functional-button {
  color: #4d4949;
  border: 1px solid #4d4949;
  background-color: transparent;
}

.functional-button:hover {
  color: #ffffff;
  background-color: #393737;
}

.functional-button:disabled {
  color: rgba(77, 73, 73, 0.4);
  background-color: #ffffff;
  border: 1px solid #4d4949;
}

.button-common {
  border-radius: 5px;
  padding: 10px 26px;
}

.button-left {
  transform: rotate(90deg);
}

.button-right {
  transform: rotate(-90deg);
}

.button-svg {
  position: absolute;
  width: 14px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #4d4949;
  background-color: #ffffff;
}

.functional-button {
  padding: 10px 26px;
  text-align: center;
}

.all-buttons-container {
  text-align: center;
}

.portfolio-button-left {
  margin-right: 20px;
}
@media screen and (min-width: 480px) {
  .portfolio-button-left {
    margin-right: 270px;
  }
}

.button-container {
  margin-bottom: 40px;
}

.testimonials-button-left {
  position: absolute;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .testimonials-button-left {
    left: -75px;
  }
}

.testimonials-button-right {
  position: absolute;
  right: 20px;
}
@media screen and (min-width: 768px) {
  .testimonials-button-right {
    right: -75px;
  }
}

.buttons:hover {
  box-shadow: 0 3px 10px 0 #6d6d6d;
}

.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../../images/testimonial.png");
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .testimonials {
    height: 529px;
  }
}

.testimonials-infrom {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .testimonials-infrom {
    border-radius: 0 0 5px 5px;
    align-items: center;
    margin: 0 auto;
    width: 560px;
    display: flex;
  }
}

.testimonials-text-container {
  background-color: #494a4d;
  color: #ffffff;
  padding: 53px 40px 21px 48px;
  width: 280px;
  height: 265px;
}
@media screen and (min-width: 768px) {
  .testimonials-text-container {
    border-radius: 5px 0 0 5px;
  }
}

.testimonials-text-1 {
  margin-bottom: 37px;
  font-size: 17px;
  line-height: 1.52;
}

.testimonials-text-2 {
  margin-bottom: 0px;
}

.testimonials .testimonials-title {
  text-align: center;
  margin-bottom: 65px;
}

.testimonials-image {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .testimonials-image {
    margin-bottom: 0px;
  }
}

.contacts {
  padding-top: 80px;
  padding-bottom: 0px;
}

.contacts-main-container {
  padding-bottom: 15px;
}

.contacts-item-title::before {
  content: "⨀";
  position: absolute;
  margin-left: -35px;
  z-index: 52;
}

.contacts-list {
  display: block;
  padding-left: 37px;
}
@media screen and (min-width: 480px) {
  .contacts-list {
    width: 360px;
  }
}

.contacts-item-title {
  position: relative;
  font-size: 15px;
  line-height: 1.73;
  font-weight: bold;
}
.contacts-item-title p {
  font-weight: 400;
}

.contacts-item-line::before {
  content: " ";
  position: absolute;
  height: 125px;
  z-index: 75;
  margin-left: -29px;
  margin-top: 19px;
  border: 1px solid #dddddd;
}

@media screen and (min-width: 1200px) {
  .contacts-form {
    width: 760px;
    position: absolute;
    top: -170px;
    right: 20px;
  }
}

.contacts-form-container {
  display: flex;
  background-color: #ffffff;
}

.contacts-form form {
  width: 380px;
  padding: 30px;
}

.form-group-input {
  height: 45px;
}

.contacts-label-svg {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contacts-svg {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 6px;
  right: 40px;
}

.contact-svg {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.contact-svg-description {
  background-color: #f8f8f8;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .contact-svg-description {
    height: 65px;
  }
}

.contacts-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-image {
    display: block;
    width: 380px;
  }
}

.form-group label {
  font-size: 17px;
  line-height: 1.64;
  margin-bottom: 5px;
}

.form-group input {
  margin-bottom: 30px;
}

.contacts-show {
  font-size: 14px;
  line-height: 1.64;
}

.contacts-button {
  color: #ffffff;
  background-color: #4d4949;
  border: 1px solid #ffffff;
  margin-bottom: 40px;
}

.contact-description {
  font-size: 17px;
  line-height: 1.24;
  font-weight: 500;
}

.contact-DNA {
  font-size: 17px;
  line-height: 1.64;
}
.contact-DNA span {
  font-weight: bold;
  text-decoration: underline;
}

.contacts-container {
  background-color: #f8f8f8;
  padding-top: 105px;
  padding-bottom: 50px;
  z-index: -5;
}

.contacts-container-relative {
  position: relative;
}

.contacts-title {
  font-size: 24px;
  line-height: 1.62;
  font-weight: 600;
  margin-bottom: 40px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 84px;
}

.contacts-button {
  color: #ffffff;
  background-color: #4d4949;
  border: 1px solid #ffffff;
  margin-bottom: 40px;
}

.contacts-button:hover {
  background-color: #393737;
}

.contacts-button:disabled {
  background-color: #4d4c49;
}

.footer-logo {
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  margin-top: 16px;
}
@media screen and (min-width: 480px) {
  .footer-logo {
    padding-left: 48px;
    margin-top: 0px;
  }
}

hr {
  margin: 0px;
  border-top: 1px solid #dddddd;
}

footer {
  padding-top: 22px;
  padding-bottom: 21px;
}

.footer-container {
  text-align: left;
}
@media screen and (min-width: 480px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.list-link li:not(:last-child) {
  margin-right: 22px;
}

.list-link svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

svg.facebook-logo {
  margin-left: -3px;
}/*# sourceMappingURL=main.css.map */