html {
  box-sizing: border-box;
}
*,
*::before,
* ::after {
  box-sizing: inherit;
}
body {
  color: $primary-text-color;
  font-family: $main-font;
  font-size: 15px;
  line-height: 1.66; //25px
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
}
