$primary-text-color: #4d4949;
$secondary-text-color: #ffffff;
$shadow-buttons-color: #6d6d6d;
$bg-color-button-dark: #4d4c49;
$bg-color-button-dark-accent: #393737;
$bg-color-button-dark-disabled: #4d4c49;
$bg-color-button-white-disabled: rgba(77, 73, 73, 0.4);
$main-font: 'Hind Siliguri', sans-serif;
$line-color: #dddddd;
$bg-testimonials: #494a4d;
$bg-color-section: #f8f8f8;
$bg-overlay: rgba(0, 0, 0, 0.5);
