.button-common {
  border-radius: 5px;
  padding: 10px 26px;
  height: 45px;
}

.button-primary {
  color: $secondary-text-color;
  background-color: $bg-color-button-dark;
  border: 1px solid $secondary-text-color;
}

.button-primary:hover {
  background-color: $bg-color-button-dark-accent;
}
.button-primary:disabled {
  background-color: $bg-color-button-dark-disabled;
}

.button-secondary {
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  background-color: transparent;
}

.button-secondary:hover {
  color: $secondary-text-color;
  background-color: $bg-color-button-dark-accent;
}
.button-secondary:disabled {
  color: $bg-color-button-white-disabled;
  background-color: $secondary-text-color;
  border: 1px solid $primary-text-color;
}

.button-left {
  transform: rotate(90deg);
}

.button-right {
  transform: rotate(-90deg);
}
.button-svg {
  position: absolute;
  width: 14px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid $primary-text-color;
  background-color: $secondary-text-color;
}
.functional-button {
  padding: 10px 26px;
  text-align: center;
}
.all-buttons-container {
  text-align: center;
}
.portfolio-button-left {
  margin-right: 20px;
  @media screen and (min-width: 480px) {
    margin-right: 270px;
  }
}
.button-container {
  margin-bottom: 40px;
}

.testimonials-button-left {
  position: absolute;
  @media screen and (min-width: 480px) {
    top: 46%;
  }
  @media screen and (min-width: 768px) {
    top: 110px;
  }
  @media screen and (min-width: 1200px) {
    top: 110px;
    left: 225px;
  }
}
.testimonials-button-right {
  position: absolute;
  right: 0px;
  // @media screen and (min-width: 768px) {
  //   right: -75px;
  // }
  @media screen and (min-width: 480px) {
    top: 46%;
  }
  @media screen and (min-width: 768px) {
    top: 110px;
  }
  @media screen and (min-width: 1200px) {
    top: 110px;
    right: 225px;
  }
}
.buttons:hover {
  box-shadow: 0 3px 10px 0 $shadow-buttons-color;
}

.testimonials-button-right:disabled,
.testimonials-button-left:disabled {
  color: rgba(77, 73, 73, 0.4);
  border: 1px solid rgba(77, 73, 73, 0.4);
  pointer-events: none;
  .button-svg {
    fill: rgba(77, 73, 73, 0.4);
  }
}
