header {
  position: absolute;
}
.navbar-expand-lg .nav-tabs {
  border-bottom: 0px solid #061320;
}
.nav-item a:hover {
  text-decoration: underline;
  font-weight: 600;
}
#navbarTogglerDemo01 .nav-link-space.active {
  border-color: transparent;
  text-decoration: underline;
  font-weight: 600;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
.navbar {
  padding: 0px;
  position: fixed;
  @media screen and (min-width: 320px) {
    width: 290px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
}
.nav-link-space-logo {
  padding: 26px 0px;
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  color: $primary-text-color;
  margin-right: 0px;
  @media screen and (min-width: 992px) {
    margin-right: 200px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 622px;
  }
}
.nav-link-space-logo:hover {
  color: $primary-text-color;
}

#navbarTogglerDemo01 .nav-link-space {
  background-color: $secondary-text-color;
  color: $primary-text-color;
  padding: 20px 0px;
  text-align: center;
  @media screen and (min-width: 992px) {
    padding: 26px 0px;
    background-color: transparent;
  }
}

.nav-item:not(:last-child) {
  font-size: 15px;
  line-height: 1.66;
  @media screen and (min-width: 992px) {
    margin-right: 40px;
  }
}
nav {
  z-index: 500000;
}
