.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;
}
.portfolio-image {
  border-radius: 5px;
}
.portfolio-description {
  text-align: center;
  color: $secondary-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    top: 100px;
    left: 50%;
    transform: translate(-50%);
  }
}
.overlay {
  position: absolute;
  bottom: 3px;
  right: 20px;
  opacity: 0;
  border-radius: 5px;
  padding: 21px 21px;
  border-bottom-left-radius: 4px;
  background-color: $bg-overlay;
}
.overlay-search,
.overlay-attach {
  width: 17px;
  height: 17px;
}
.portfolio-container-card {
  margin-bottom: 16px;
}

.portfolio-image {
  margin-bottom: 0px;
}
.portfolio-container:hover {
  cursor: pointer;
  .overlay {
    opacity: 1;
  }
}
.overlay-list {
  display: flex;
}
.overlay-item + .overlay-item {
  margin-left: 25px;
}
.portfolio .col {
  padding-right: 20px;
  padding-left: 20px;
}
.portfolio .row {
  margin-right: -20px;
  margin-left: -20px;
}
.card-title-portfolio {
  text-transform: uppercase;
  font-weight: bold;
}
.portfolio .card-title {
  margin-bottom: 0px;
}
